.add-comment-container h5{margin-bottom: 15px;}
.comment-list{padding-top: 10px;margin-top: 15px;border-top: 2px solid #e6e6e6;}
.comment-item-container{margin-bottom: 15px;}
.comment-list p i{padding-right: 10px;font-style: normal;}
.comment-list p{margin-top: -10px;font-size: 12px;color: #808080;}