<div class="post-detail-container">
    <div class="row">
        <div class="col-sm-12 post-title">
            <h4>文章的标题，可以很长，超过32个单词则自动截断</h4>
            <p><i>大漠穷秋</i> <i>2016-11-22 11:32</i> 点击：<i>10000</i>评论：<i>10000</i></p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 post-content">
            <p>对于前端工程师来说，apicloud无疑给我们提供了很好的平台，有各种各样的模块供我们使用，但是在实际项目的时候，很大部分的代码，还是需要我们用html css js来实现的。但是呢，移动端页面对于click事件会有 300 毫秒的延迟，导致多数用户感觉移动设备上基于 HTML 的 web 应用界面响应速度慢。</p>
            <p>在这里推荐一个简单易用的 js库，用来消除界面中的click事件造成的延迟。 <a href="https://github.com/ftlabs/fastclick">https://github.com/ftlabs/fastclick</a></p>
            <p>目前，亲测在iphone表现很完美。</p>
            <p>如果你用在Android设备的Web View里使用，会产生用户本来只想滑动却误点的Bug，因为Android机器性能就参差不齐，而且APK包自带的那个浏览器很渣。所以如果使用FastClick，最好做个判断，不要用在Android APK里面。（这个是在网上看到的，所以在安卓设备里，慎用，如果真要用的话，用以前最好自己也多测试下）</p>
            <p>对于前端工程师来说，apicloud无疑给我们提供了很好的平台，有各种各样的模块供我们使用，但是在实际项目的时候，很大部分的代码，还是需要我们用html css js来实现的。但是呢，移动端页面对于click事件会有 300 毫秒的延迟，导致多数用户感觉移动设备上基于 HTML 的 web 应用界面响应速度慢。</p>
            <p>在这里推荐一个简单易用的 js库，用来消除界面中的click事件造成的延迟。 <a href="https://github.com/ftlabs/fastclick">https://github.com/ftlabs/fastclick</a></p>
            <p>目前，亲测在iphone表现很完美。</p>
            <p>如果你用在Android设备的Web View里使用，会产生用户本来只想滑动却误点的Bug，因为Android机器性能就参差不齐，而且APK包自带的那个浏览器很渣。所以如果使用FastClick，最好做个判断，不要用在Android APK里面。（这个是在网上看到的，所以在安卓设备里，慎用，如果真要用的话，用以前最好自己也多测试下）</p>
            <p>对于前端工程师来说，apicloud无疑给我们提供了很好的平台，有各种各样的模块供我们使用，但是在实际项目的时候，很大部分的代码，还是需要我们用html css js来实现的。但是呢，移动端页面对于click事件会有 300 毫秒的延迟，导致多数用户感觉移动设备上基于 HTML 的 web 应用界面响应速度慢。</p>
            <p>在这里推荐一个简单易用的 js库，用来消除界面中的click事件造成的延迟。 <a href="https://github.com/ftlabs/fastclick">https://github.com/ftlabs/fastclick</a></p>
            <p>目前，亲测在iphone表现很完美。</p>
            <p>如果你用在Android设备的Web View里使用，会产生用户本来只想滑动却误点的Bug，因为Android机器性能就参差不齐，而且APK包自带的那个浏览器很渣。所以如果使用FastClick，最好做个判断，不要用在Android APK里面。（这个是在网上看到的，所以在安卓设备里，慎用，如果真要用的话，用以前最好自己也多测试下）</p>
        </div>
    </div>
</div>