<div class="container manage-main-component" >
    <div class="row">
        <div class="col-sm-9">
            <router-outlet></router-outlet>
        </div>
        <div class="col-sm-3">
            <div class="list-group">
                <a routerLink="posttable" class="list-group-item"><span class="badge"></span>文章管理</a>
                <a routerLink="common" class="list-group-item"><span class="badge"></span>评论管理</a>
                <a routerLink="tagtable" class="list-group-item"><span class="badge"></span>标签管理</a>
                <a routerLink="usertable" class="list-group-item"><span class="badge"></span>用户管理</a>
                <a routerLink="system" class="list-group-item">系统设置</a>
            </div>
        </div>
    </div>
</div>