<div class="post-table-container">
    <form class="form-vertical" role="form">
        <div class="row">
            <div class="col-sm-10">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="标题，作者">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-success"><i class="fa fa-search" aria-hidden="true"></i> 搜索</button>
                    </span>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="input-group">
                    <button class="btn btn-primary" type="button" (click)="getToWrite()">发表文章</button>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-sm-12">
            <div class="post-item-container">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>标题</th>
                            <th>作者</th>
                            <th>日期</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Angular2 admin 开发</td>
                            <td>菜鸟</td>
                            <td>2016-12-08</td>
                            <td>
                                <a href="" class="btn btn-sm btn-warning" (click)="enableEditing()"><i class="fa fa-pencil"></i> 编辑</a>
                                <a href="" class="btn btn-sm btn-primary" (click)="overhead()"><i class="fa fa-arrow-up"></i> 顶置</a>
                                <a href="" class="btn btn-sm btn-danger" (click)="delete()"><i class="fa fa-trash"></i> 编辑</a>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Angular2 admin 开发</td>
                            <td>菜鸟</td>
                            <td>2016-12-08</td>
                            <td>
                                <a href="" class="btn btn-sm btn-warning" (click)="enableEditing()"><i class="fa fa-pencil"></i> 编辑</a>
                                <a href="" class="btn btn-sm btn-primary" (click)="overhead()"><i class="fa fa-arrow-up"></i> 顶置</a>
                                <a href="" class="btn btn-sm btn-danger" (click)="delete()"><i class="fa fa-trash"></i> 编辑</a>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Angular2 admin 开发</td>
                            <td>菜鸟</td>
                            <td>2016-12-08</td>
                            <td>
                                <a href="" class="btn btn-sm btn-warning" (click)="enableEditing()"><i class="fa fa-pencil"></i> 编辑</a>
                                <a href="" class="btn btn-sm btn-primary" (click)="overhead()"><i class="fa fa-arrow-up"></i> 顶置</a>
                                <a href="" class="btn btn-sm btn-danger" (click)="delete()"><i class="fa fa-trash"></i> 编辑</a>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Angular2 admin 开发</td>
                            <td>菜鸟</td>
                            <td>2016-12-08</td>
                            <td>
                                <a href="" class="btn btn-sm btn-warning" (click)="enableEditing()"><i class="fa fa-pencil"></i> 编辑</a>
                                <a href="" class="btn btn-sm btn-primary" (click)="overhead()"><i class="fa fa-arrow-up"></i> 顶置</a>
                                <a href="" class="btn btn-sm btn-danger" (click)="delete()"><i class="fa fa-trash"></i> 编辑</a>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Angular2 admin 开发</td>
                            <td>菜鸟</td>
                            <td>2016-12-08</td>
                            <td>
                                <a href="" class="btn btn-sm btn-warning" (click)="enableEditing()"><i class="fa fa-pencil"></i> 编辑</a>
                                <a href="" class="btn btn-sm btn-primary" (click)="overhead()"><i class="fa fa-arrow-up"></i> 顶置</a>
                                <a href="" class="btn btn-sm btn-danger" (click)="delete()"><i class="fa fa-trash"></i> 编辑</a>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Angular2 admin 开发</td>
                            <td>菜鸟</td>
                            <td>2016-12-08</td>
                            <td>
                                <a href="" class="btn btn-sm btn-warning" (click)="enableEditing()"><i class="fa fa-pencil"></i> 编辑</a>
                                <a href="" class="btn btn-sm btn-primary" (click)="overhead()"><i class="fa fa-arrow-up"></i> 顶置</a>
                                <a href="" class="btn btn-sm btn-danger" (click)="delete()"><i class="fa fa-trash"></i> 编辑</a>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Angular2 admin 开发</td>
                            <td>菜鸟</td>
                            <td>2016-12-08</td>
                            <td>
                                <a href="" class="btn btn-sm btn-warning" (click)="enableEditing()"><i class="fa fa-pencil"></i> 编辑</a>
                                <a href="" class="btn btn-sm btn-primary" (click)="overhead()"><i class="fa fa-arrow-up"></i> 顶置</a>
                                <a href="" class="btn btn-sm btn-danger" (click)="delete()"><i class="fa fa-trash"></i> 编辑</a>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Angular2 admin 开发</td>
                            <td>菜鸟</td>
                            <td>2016-12-08</td>
                            <td>
                                <a href="" class="btn btn-sm btn-warning" (click)="enableEditing()"><i class="fa fa-pencil"></i> 编辑</a>
                                <a href="" class="btn btn-sm btn-primary" (click)="overhead()"><i class="fa fa-arrow-up"></i> 顶置</a>
                                <a href="" class="btn btn-sm btn-danger" (click)="delete()"><i class="fa fa-trash"></i> 编辑</a>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Angular2 admin 开发</td>
                            <td>菜鸟</td>
                            <td>2016-12-08</td>
                            <td>
                                <a href="" class="btn btn-sm btn-warning" (click)="enableEditing()"><i class="fa fa-pencil"></i> 编辑</a>
                                <a href="" class="btn btn-sm btn-primary" (click)="overhead()"><i class="fa fa-arrow-up"></i> 顶置</a>
                                <a href="" class="btn btn-sm btn-danger" (click)="delete()"><i class="fa fa-trash"></i> 编辑</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <pagination [totalItems]="totalItems" [maxSize]="maxSize" [itemsPerPage]="itemsPerPage" [(ngModel)]="currentPage" [firstText]="firstText" [lastText]="lastText" [previousText]="previousText" [nextText]="nextText" [boundaryLinks]="true" [rotate]="false" (numPages)="numPages = $event" (pageChanged)="pageChanged($event)" class="pagination-sm" ></pagination>
        </div>
    </div>
</div>